In [ ]:
%load_ext autoreload
%autoreload 2

In [2]:
from pathlib import Path
import pandas as pd

# Processing the kaggle dataset

In [3]:
path = Path('../../../data/kaggle/closing_odds.csv')
df = pd.read_csv(path)
df.match_date = pd.to_datetime(df.match_date, format='%Y-%m-%d')
df.sort_values('match_date', inplace=True)

In [4]:
df.shape

(479440, 19)

In [5]:
df.columns

Index(['match_id', 'league', 'match_date', 'home_team', 'home_score',
       'away_team', 'away_score', 'avg_odds_home_win', 'avg_odds_draw',
       'avg_odds_away_win', 'max_odds_home_win', 'max_odds_draw',
       'max_odds_away_win', 'top_bookie_home_win', 'top_bookie_draw',
       'top_bookie_away_win', 'n_odds_home_win', 'n_odds_draw',
       'n_odds_away_win'],
      dtype='object')

In [34]:
leagues = list(df.league.unique())
buli_str = 'Germany: Bundesliga'
buli_df = df.loc[df.league==buli_str,:]

In [35]:
buli_df.tail()

,match_id,league,match_date,home_team,home_score,away_team,away_score,avg_odds_home_win,avg_odds_draw,avg_odds_away_win,max_odds_home_win,max_odds_draw,max_odds_away_win,top_bookie_home_win,top_bookie_draw,top_bookie_away_win,n_odds_home_win,n_odds_draw,n_odds_away_win
474430,870166,Germany: Bundesliga,2015-05-23,Dortmund,3,Werder Bremen,2,1.2541,6.4234,9.9490,1.30,7.47,13.00,Interwetten,Pinnacle Sports,William Hill,29,29,29
474428,870164,Germany: Bundesliga,2015-05-23,Bayern Munich,2,Mainz,0,1.1700,7.9562,13.4545,1.20,9.48,17.00,bwin,Pinnacle Sports,Sportingbet,29,29,29
474429,870165,Germany: Bundesliga,2015-05-23,B. Monchengladbach,1,Augsburg,3,1.4703,4.5645,6.3879,1.53,5.00,7.16,Coral,Pinnacle Sports,12BET,29,29,29
475447,871556,Germany: Bundesliga,2015-05-28,Hamburger SV,1,Karlsruher,1,2.2679,3.1768,3.2704,2.46,3.40,3.85,Pinnacle Sports,myBet,myBet,28,28,28
476364,872810,Germany: Bundesliga,2015-06-01,Karlsruher,1,Hamburger SV,1,2.1682,3.3089,3.3564,2.30,3.45,3.87,BetVictor,SBOBET,Pinnacle Sports,28,28,28

## Seasons

In [36]:
row = buli_df.iloc[0,:]
date = row.match_date
date.year, date.month

(2005, 1)

In [37]:
def season_from_date(row):
    date = row.match_date
    if date.month<=6:
        season = str(date.year-1)[-2:] + str(date.year)[-2:]
    else:
        season = str(date.year)[-2:] + str(date.year+1)[-2:]

    return season

In [38]:
buli_df['season'] = buli_df.apply(func=season_from_date, axis=1)

<ipython-input-38-16a59117d584>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  buli_df['season'] = buli_df.apply(func=season_from_date, axis=1)

In [39]:
buli_df.tail()

,match_id,league,match_date,home_team,home_score,away_team,away_score,avg_odds_home_win,avg_odds_draw,avg_odds_away_win,max_odds_home_win,max_odds_draw,max_odds_away_win,top_bookie_home_win,top_bookie_draw,top_bookie_away_win,n_odds_home_win,n_odds_draw,n_odds_away_win,season
474430,870166,Germany: Bundesliga,2015-05-23,Dortmund,3,Werder Bremen,2,1.2541,6.4234,9.9490,1.30,7.47,13.00,Interwetten,Pinnacle Sports,William Hill,29,29,29,1415
474428,870164,Germany: Bundesliga,2015-05-23,Bayern Munich,2,Mainz,0,1.1700,7.9562,13.4545,1.20,9.48,17.00,bwin,Pinnacle Sports,Sportingbet,29,29,29,1415
474429,870165,Germany: Bundesliga,2015-05-23,B. Monchengladbach,1,Augsburg,3,1.4703,4.5645,6.3879,1.53,5.00,7.16,Coral,Pinnacle Sports,12BET,29,29,29,1415
475447,871556,Germany: Bundesliga,2015-05-28,Hamburger SV,1,Karlsruher,1,2.2679,3.1768,3.2704,2.46,3.40,3.85,Pinnacle Sports,myBet,myBet,28,28,28,1415
476364,872810,Germany: Bundesliga,2015-06-01,Karlsruher,1,Hamburger SV,1,2.1682,3.3089,3.3564,2.30,3.45,3.87,BetVictor,SBOBET,Pinnacle Sports,28,28,28,1415

In [41]:
for season,group in buli_df.groupby('season'):
    print(season, len(group))

0405 153
0506 272
0607 306
0708 306
0809 274
0910 272
1112 272
1213 308
1314 308
1415 276