In [ ]:
from nbdev import *
# default_exp utility

# Utility functions
> Basic functions that didn't fit anywhere else

## Multiprocessing

In [ ]:
# export
import multiprocessing as mp

Python offers an easy way to have a function run on arguments of a list in parallel. Unfortunately, the jupyter environment (on windows?) does not support this feature (yet?). So in order to actually use multiprocessing, we have to write a traditional .py script which uses the below function.

In [ ]:
# exports
def run_in_parallel(func, iterable, n_workers=6):
    pool = mp.Pool(processes=n_workers)
    return pool.map(func, iterable)

## Pandas

In [ ]:
# export
import pandas as pd

In [ ]:
original = pd.DataFrame([[1,2,3], [4,5,6]], columns=['A','B','C'])
original

   A  B  C
0  1  2  3
1  4  5  6

In [ ]:
additional = pd.DataFrame([[1,2,9,10], [4,5,13,14], [4,6,13,14]], columns=['A','B','E','F'])
additional.head()

   A  B   E   F
0  1  2   9  10
1  4  5  13  14
2  4  6  13  14

In [ ]:
def overlapping_cols(df1, df2):
    return [col1 for col1 in df1.columns if col1 in df2.columns]


def merge_with_prefix(original, additional, prefix, left_on=None, right_on=None):
    assert not ((left_on is not None) ^ (right_on is not None)), "Leave both left_on and right_on as None to merge over all columns with the same name or specify both."
    
    if right_on is None:
        left_on = overlapping_cols(original, additional)
        right_on = left_on
        
    col_renamer = {col: prefix+col for col in additional.columns if not col in right_on}
    to_merge = additional.rename(col_renamer, axis='columns')

    return pd.merge(original, to_merge, left_on=left_on, right_on=right_on)

In [ ]:
merge_with_prefix(original, additional, 'home_')

   A  B  C  home_E  home_F
0  1  2  3       9      10
1  4  5  6      13      14

In [ ]:
merge_with_prefix(original, additional, 'one_', left_on=['A'], right_on=['A'])

   A  B  C  one_B  one_E  one_F
0  1  2  3      2      9     10
1  4  5  6      5     13     14
2  4  5  6      6     13     14

In [ ]:
merge_with_prefix(original, additional, 'two_', left_on=['A', 'B'], right_on=['A', 'B'])

   A  B  C  two_E  two_F
0  1  2  3      9     10
1  4  5  6     13     14

## Export

In [ ]:
#hide
from nbdev.export import *
notebook2script()

Converted 00_scraping.ipynb.
Converted 01_utility.ipynb.
Converted 02_data.ipynb.
Converted 03_sportde.ipynb.
Converted 04_feature_engineering.ipynb.
Converted index.ipynb.